<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/fonts.css' %}">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>
<body>

<div class="main_container">

    <div class="banner-side d-none d-md-block">
        <div class="logo d-none d-md-block">
            <img src="{% static 'logo.png' %}" width="100">
        </div>
        <img src="{% static 'images/login.png' %}"
             alt="Basketball player jumping"
             class="hero-image">
    </div>

    <div class="form-side">
        <div class="mobile_logo d-block d-md-none">
            <img src="{% static 'logo.png' %}" width="100">
        </div>

        <form class="login-form" method="post">
            {% csrf_token %}

            <h1 class="fw-bold">Forgot Password</h1>

            <div class="form-group">
                <label>Email Address</label>
                <div class="input-wrapper">
                    <input type="email"
                           name="email"
                           placeholder="Enter your registered email"
                           value="{{ request.POST.email }}"
                           required>
                </div>

                {% for message in messages %}
                    <small class="text-danger error-text">
                        {{ message }}
                    </small>
                {% endfor %}
            </div>

            <button type="submit" class="login-button">
                Send OTP
            </button>

            <a href="{% url 'login' %}" class="forgot-password">
                Back to login
            </a>
        </form>
    </div>
</div>
</body>
</html>
