{% extends "base.html" %}
{% load static %}
{% block title%} Sub Admin {% endblock%}

{% block nav_title %}
    {% with page_title="Sub Admins Management" %}
        {{ block.super }}
    {% endwith%}
{% endblock nav_title%}


{% block content %} 

<section class="main-section spacer">
    <div class="container">
        <div class="wrapper-card p-0">
            <div class="row gy-3">
                <div class="col-xl-12">
                    <div class="sub_heading_card sub-heading flex-wrap gap-3 flex-box mb-3">
                        <h2>Sub Admins List</h2>
                        <div class="d-flex flex-wrap gap-3">
                         <div class="d-flex flex-wrap gap-3">
                            <form class="d-flex">
                              <input type="text" id="" class="form-control" placeholder="Search..." title="type to search..." name="q" value="{{request.GET.q}}" > 
                              <button class="btn border border-1 ms-1" title="click to deep search"><i class="fa fa-search"></i></button>
                              {% if query %}
                                 <a href="{% url 'athlete_management' %}" class="btn border border-1 ms-1 bg-dark text-white" title="clear search">
                                  <i class="fa-solid fa-xmark"></i>    </a>
                              {% endif %}
                            </form>
                            <div class="sort-by">
                                <select class="form-select" id="sortBy">
                                    <option value="" disabled selected>Sort by</option>
                                    <option value="first_name">First Name</option>
                                    <option value="last_name">Last Name</option>
                                    <option value="email_address">Email Address</option>
                                    <option value="user_name">User Name</option>
                                    <option value="position">Position</option>
                                    <option value="badges_earned">Badges Earned</option>
                                    <option value="status">Status</option>
                                </select>
                            </div>
                            <div class="hstack flex-wrap gap-2">
                                <a href="{% url 'create_sub_admin' %}" class="btn black-btn bg-black text-white">Create Sub-Admin</a>
                            </div>                            
                          </div>
                        </div>
                    </div>
                    <div class="table-blk">
                        <table id="athletesTable" class="table border-0">
                            <thead>
                                <tr>
                                    <th>S.No</th>
                                    <th>First Name </th>
                                    <th>Last Name</th>
                                    <th>Email Address</th>
                                    <th>User Name</th>
                                    <th>Phone Number</th>
                                    <th>AdminType</th>
                                    <th>Status</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for athlete in sub_admins %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td>{{athlete.first_name|title}}</td>
                                    <td>{{athlete.last_name|title}}</td>
                                    <td>{{athlete.email}}</td>
                                    <td>{{athlete.username}}</td>
                                    <td>{{athlete.phone_number}}</td>
                                    <td>
                                        {% if athlete.user_role == "ar_staff" %}
                                         <span class="table-status badge bg-light text-info">Ar Staff</span>
                                        {% else %}
                                          <span class="table-status badge bg-light text-warning">Event Director</span>
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if athlete.is_active %}
                                        <span class="table-status badge bg-light text-success">Active</span>
                                        {% else %}
                                        <span class="table-status badge bg-light text-danger">Deactive </span>
                                        {% endif %}
                                    </td>
                                    <td>
                                        <span class="table-action">
                                            <a href="{% url "sub_admin_profile" pk=athlete.id %}{% if request.GET.from %}?from={{request.GET.from }}&to={{request.GET.to}} 
                                            {% endif %}" class="table-eye">
                                                <img src="{% static "images/table/eye.png" %}">
                                            </a>
                                            <button class="table-trash" data-bs-toggle="modal" data-bs-target="#deleteModal{{athlete.id}}">
                                              <img src="{% static "images/table/trash.png" %}">
                                            </button>
                                            {% if athlete.is_active %}
                                            <span class="table-check" data-bs-toggle="modal" data-bs-target="#deactiveModal{{athlete.id}}">
                                                <img src="{% static "images/table/checked.png" %}">
                                            </span>
                                            {% else %}
                                            <span class="table-check" data-bs-toggle="modal" data-bs-target="#activeModal{{athlete.id}}">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                                    <rect width="24" height="14" x="0" y="5" rx="7" ry="7" fill="#ccc"/>
                                                    <circle cx="7" cy="12" r="5" fill="#fff"/>
                                                  </svg>  
                                            </span>
                                            {% endif %}
                                        </span>
                                    </td>
                                </tr>
                                {% comment %} delete modal {% endcomment %}

                                <div class="modal fade" id="deleteModal{{athlete.id}}" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                      <div class="modal-content">
                                        <div class="modal-header">
                                          <h5 class="modal-title" id="deleteModalLabel">Confirm Deletion</h5>
                                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            Are you sure you want to delete {{athlete.username}} ?
                                        </div>
                                        <div class="modal-footer">
                                          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                          <a href="?action=delete&id={{athlete.id}}&page={{page_number}}" class="btn btn-danger" >Delete</a>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                             
                                  {% if athlete.is_active %}
                                  {% comment %} deactive model {% endcomment %}
                                  <div class="modal fade" id="deactiveModal{{athlete.id}}" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                      <div class="modal-content">
                                        <div class="modal-header">
                                          <h5 class="modal-title" id="deleteModalLabel">Confirm Deactivation</h5>
                                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            Are you sure you want to deactive {{athlete.username}} ?
                                        </div>
                                        <div class="modal-footer">
                                          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                          <a  href="?action=deactivate&id={{athlete.id}}&page={{page_number}}" class="btn btn-warning text-white">Deactive</a>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                  {% else %}
                                       {% comment %} active modal {% endcomment %}
                                       <div class="modal fade" id="activeModal{{athlete.id}}" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                          <div class="modal-content">
                                            <div class="modal-header">
                                              <h5 class="modal-title" id="deleteModalLabel">Confirm Activation</h5>
                                              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                Are you sure you want to activate {{athlete.username}} ?
                                            </div>
                                            <div class="modal-footer">
                                              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                              <a  href="?action=activate&id={{athlete.id}}&page={{page_number}}" class="btn btn-success">Activate</a>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    {% endif %}
                                  {% comment %}  {% endcomment %}
                                {% endfor %}
                                                                      
                            </tbody>
                        </table>
                    </div>
                    
                    {% comment %} pagination {% endcomment %}
                    {% include "pagination.html" with page_obj=athletes %} 
                    
                    {% comment %}  {% endcomment %}
                </div> 
            </div>
        </div>
    </div>
</section>




{% endblock content %}

{% block js %}
{% comment %} <script>
    $(document).ready(function () {
        let table = $('#athletesTable').DataTable({
            "paging": false,
            "lengthChange": false,
            "searching": true,
            "ordering": true,
            "info": false,
            "autoWidth": false,
            "dom": "lrtip",
            "order": []  
        });

        
        $('#searchInput').on('keyup', function () {
            table.search(this.value).draw();
        });
    
        
        $('#sortBy').on('change', function () {
            console.log("Search:", this.value);
            let column = $(this).val() === "badges_earned" ? 6 : 1;
            console.log(column);
            table.order([column, 'asc']).draw();
        });
    
      
    });
</script> {% endcomment %}


<script>
    $(document).ready(function () {
        let table = $('#athletesTable').DataTable({
            paging: false,
            lengthChange: false,
            searching: true,
            ordering: true,
            info: false,
            autoWidth: false,
            dom: "lrtip",
            order: [],
            columnDefs: [
                { targets: 5, type: "num" }, // Badges Earned
                { targets: 6, type: "num" }  // Jersey No
            ]
        });

        const columnMap = {
            "first_name": 0,
            "last_name": 1,
            "email_address": 2,
            "user_name": 3,
            "position": 4,
            "badges_earned": 5,
            "jersey_number": 6,
            "status": 7
        };

        // Custom search
        $('#searchInput').on('keyup', function () {
            table.search(this.value).draw();
        });

        // Custom sort
        $('#sortBy').on('change', function () {
            let selected = $(this).val();
            let columnIndex = columnMap[selected];

            if (columnIndex !== undefined) {
                // Default to ascending sort
                table.order([columnIndex, 'asc']).draw();
            }
        });
    });
</script>


{% endblock %}

